body{
    background-color: lightsteelblue;
    max-width: 1140px;
    margin: 0 auto;
}
#hero-container{
    background-color: bisque;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
}
#hero-container #text{
    font-size: 1.2em;
}
#hero-container div button{
    background-color: lightcoral;
    padding: 15px 30px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}
#hero-container img{
    width: 100%;
    height: 400px;
    border-radius: 20px;
}