body{
    max-width: 1180px;
    background-color: rgba(141, 141, 34, 0.377);
    margin: 0 auto;
}
#banner-parent{
    background-color: rgba(2, 143, 153, 0.733);
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
}
#text{
    font-size: 1.25em;
}
#btn{
    background-color: rgba(226, 100, 54, 0.801);
    font-size: 1em;
    border: 1px solid black;
    border-radius: 20px;
    padding: 15px 20px;
    cursor: pointer;
}
#banner-parent #image img{
    width: 100%;
    height: 400px;
    border-radius: 100%;
}