#container{
    display: flex;
}
#container > div{
    border: 2px solid purple;
    width: 200px;
    height: 200px;
    font-size: 30px;
    
}
.box-container{
    display: flex;
    gap: 50px;
}
.box{
    font-size: 4em;
    height: 150px;
    width: 150px;
    border: 2px solid slategray;
}
.user-container{
    display: flex;
}
.user{
    border: 2px solid purple;
    height: 150px;
    width: 150px;
    background-color: aqua;
    font-size: 1.8em;
    text-align: center;
}