form .personal-info label{
    display: block;
    margin: 13px 0px 0px;

}
form .personal-info .gender{
    display: inline;
}
#opinion{
    display: block;
    font-size: larger;
    font-weight: 700;
}