#main-header{
    text-align: center;
    background-color: #998775;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px 20px 20px;
    word-spacing: 10px;

    font-size: 20px;
    font-weight: 600;
}
nav ul li a:hover{
    color: black;
    background-color: #ffffff;
}

nav ul li a{
    text-decoration: none;
    color: #4F4F53;
}